In [214]:
# Data type in python :
# int : 1, 2, 3
# float : 2.3, 6.5, 9.6
# str : 'hello', 'mohammad rayhan', 'cgpa 4 lol'
# list : [ 10, 'hello', 200]
# dict : {"dollar":84, "upoma":40}
# tuple : ( 10, 'Hello', 500 )
# set : { 'a', 'b' }
# bool : True / False

In [215]:
# basic addition,substraction,multiplication,division
print("addition 2+3 :")
print(2+3)
print("substraction 9-6 :")
print(9-6)
print('multiplication 5*3 :')
print(5*3)
print('division 9/3 :')
print(9/3) # print floating value
print('division 9/3 :')
print(9//3) # print integer value

addition 2+3 :
5
substraction 9-6 :
3
multiplication 5*3 :
15
division 9/3 :
3.0
division 9/3 :
3

In [216]:
# module / mod %
print(50%3)
print(24%2)
# this is the extra value in division

2
0

In [217]:
# power
print(2**3)
print(3**2) 
print("* is the asterisk sign ")

8
9
* is the asterisk sign

In [218]:
# Dynamic Typing in Python
my_name='Rayhan'
my_name='Dollar'
print(my_name)

Dollar

In [219]:
# example of multiplication
my_income=50000
tax_rate=0.25
my_salary=my_income*tax_rate
print(my_salary)

12500.0

In [220]:
# types in python
a=5
print(type(a))
b=5.6
print(type(b))
c='rayhan'
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [221]:
# \n means newline
print('my name is rayhan\nmy father name is osman')

my name is rayhan
my father name is osman

In [222]:
# \t means tab
print('my name is rayhan\t my father name is osman')

my name is rayhan	 my father name is osman

In [223]:
# len means Length
len("Rayhan") #len :function

6

In [224]:
# Indexing & Slicing with String
# Index Position
mystring='123456789'
print(mystring[3])
print(mystring[-3])
print(mystring[3:])
print(mystring[:3])
print(mystring[3:8])
print(mystring[::])
print(mystring[::2])
print(mystring[2:7:3])
print(mystring[::1])
print(mystring[::-1])
print(mystring[::-3])

4
7
456789
123
45678
123456789
13579
36
123456789
987654321
963

In [225]:
#String position and Methods

In [226]:
# string concatenation
name="Rayhan"
human=name[1:]
print("M"+human)

Mayhan

In [227]:
country="Bangladesh"
print(country+ "is a small country")

Bangladeshis a small country

In [228]:
letter='D'
print(letter*5)

DDDDD

In [229]:
print("M"+"D")
print("5"+"6")

MD
56

In [230]:
Q="my name is Mohammad Rayhan"
print(Q.upper())
print(Q.lower())
print(Q.split())
print(Q.split('a'))

MY NAME IS MOHAMMAD RAYHAN
my name is mohammad rayhan
['my', 'name', 'is', 'Mohammad', 'Rayhan']
['my n', 'me is Moh', 'mm', 'd R', 'yh', 'n']

In [231]:
G='Institute of science & technology'
H=G.upper()
print(H)

INSTITUTE OF SCIENCE & TECHNOLOGY

In [232]:
# print formating with strings
# .format
# f-string

In [233]:
# .format
print('my name is {a} & my father name is {b}'.format(a='Rayhan',b='Osman'))

my name is Rayhan & my father name is Osman

In [234]:
# .format in number 
result = 100/77
print("The result is {a}".format(a=result))
print("The result is {a:1.3f}".format(a=result))
print("The result is {a:10.3f}".format(a=result))

The result is 1.2987012987012987
The result is 1.299
The result is      1.299

In [235]:
# f-string
d='Rayhan'
e='Osman'
h='Doctor'
print(f"my name is {d}")
print(f'my father name is {e} & he is a {h}')

my name is Rayhan
my father name is Osman & he is a Doctor

In [236]:
# list in python
my_list=['dollar',100,23.5]
print(my_list)
print(len(my_list))
print(my_list[0])
print(my_list[1:])

['dollar', 100, 23.5]
3
dollar
[100, 23.5]

In [267]:
#list
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [268]:
# list
print(list3)
list3[0]='Dollar'
print(list3) # change index position value

[1, 2, 3, 4, 5, 6]
['Dollar', 2, 3, 4, 5, 6]

In [239]:
# 4 method in python
# .append
# .pop
# .sort
# .reverse

In [240]:
# .append method
list01=["a","b","c"]
list01.append("d")
print(list01)

['a', 'b', 'c', 'd']

In [241]:
# .pop method
list02=["a","b","c"]
list02.pop(1)
print(list02)

['a', 'c']

In [242]:
# .sort method
list03=[5,3,1,2,7,5,4,6]
list03.sort()
print(list03)

[1, 2, 3, 4, 5, 5, 6, 7]

In [243]:
# .reverse method
list04=[1,2,3,4,5,6,7,8,9]
list04.reverse()
print(list04)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [244]:
# Dictionaries in Python

In [245]:
# Dictionary
prices={'apple':50,'mango':70}
print(prices)
print(prices['apple'])

{'apple': 50, 'mango': 70}
50

In [246]:
# Dictionary
i={"k1":789,'k2':[0,1,2],"k3":{'inside_key':100}}
print(i['k2'])
print(i['k3']['inside_key'])

[0, 1, 2]
100

In [247]:
# Dictionary
j={"em":[3,4,5,6,7,8,9]}
print(j['em'][3]) # here 3 is the index position

6

In [248]:
j={"keys1":['a','b','c','d','e']}
change=(j['keys1'][3]).upper()
print(change)

D

In [249]:
# add item in dictionary
doll={"key001":10,"key002":20}
doll["key003"]=30
print(doll)

{'key001': 10, 'key002': 20, 'key003': 30}

In [250]:
# change value in dictionary
a={'a1':40,'a2':60}
print(a)
a['a1']=20
print(a)

{'a1': 40, 'a2': 60}
{'a1': 20, 'a2': 60}

In [251]:
# Tuples in Python
g=(1,2,2,3,2,4,5,2,6,3,5,2,2)
print(g.count(2))
print(g.index(2))
print("tuple object doesn't support item assignment")

6
1
tuple object doesn't support item assignment

In [252]:
# Sets in Python
a=[1,2,3,4,5]
myset=set(a)
myset.add('six')
print(myset)

{1, 2, 3, 4, 5, 'six'}

In [253]:
myset=[1,1,2,2,3,3,4,4,5,6]
set(myset)

{1, 2, 3, 4, 5, 6}

In [254]:
# Booleans in Python
print(2>5)
print(4<6)
print(4==4)

False
True
True

In [255]:
# Input/Output Basic Files in Python

In [256]:
%%writefile abdurrakib.txt
he is very good student
he is buetian

Overwriting abdurrakib.txt

In [257]:
myfile=open('abdurrakib.txt')
myfile.read()

'he is very good student\nhe is buetian'

In [258]:
myfile.read() # get error

''

In [259]:
myfile.seek(0)

0

In [260]:
myfile.read()

'he is very good student\nhe is buetian'

In [261]:
myfile.seek(0)
contents=myfile.read()
print(contents)

he is very good student
he is buetian

In [262]:
myfile.seek(0)
myfile.readlines()

['he is very good student\n', 'he is buetian']

In [263]:
# File location
# Reading , Writing , Appending mode
# mode='r' (read)
# mode='w' (write)
# mode='a' (append)
# mode= 'r+' (reading & writing)
# mode= 'w+' (writing & reading)

In [264]:
with open("abdurrakib.txt",mode='r') as f:
    print(f.read())

he is very good student
he is buetian

In [265]:
with open('abdurrakib.txt',mode='a') as f:
    print(f.write('\nits a new line'))
with open("abdurrakib.txt",mode='r') as f:
    print(f.read())

15
he is very good student
he is buetian
its a new line

In [266]:
with open('abc.txt',mode='w')as f:
    f.write('i created this line')
with open("abc.txt",mode='r') as f:
    print(f.read())

i created this line